<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lecturers</title>
</head>
<body>
<a href="{% url 'home' %}"> <button>Home</button></a>
<h1>Lecturers:</h1>
    <a href="/lecturers/create_lecturer">
        <button>Create new lecturer</button>
    </a>
    <p>
    {% for lecturer in lecturers %}
    <div>
        <b>{{ lecturer.first_name }} {{ lecturer.last_name}}</b>, {{ lecturer.email }}
        <p></p>
        <a href="{% url 'edit_lecturer' lecturer_id=lecturer.lecturer_id %}"><button>Edit</button></a>
        <a href="{% url 'delete_lecturer' lecturer_id=lecturer.lecturer_id %}"><button>Delete</button></a>
        <p></p>
    </div>
    {% endfor %}

</body>
</html>