<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h1>Students:</h1>
    <a href="/students/create_student">
        <button>Create new student</button>
    </a>
    <p>
    {% for student in students %}
    <div>
        <b>{{ student.first_name }} {{ student.last_name}}</b>, {{ student.email }}
        <p></p>
        <a href="{% url 'edit_student' student_id=student.student_id %}"><button>Edit</button></a>
        <a href="{% url 'delete_student' student_id=student.student_id %}"><button>Delete</button></a>
        <p></p>
    </div>
    {% endfor %}

</body>
</html>