{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'academy/styles.css' %}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');</style>
    <title>Academy</title>
</head>
<body>
    {% cache 600 header %}
        <div class ="row header">
            <div class="col-md-1">
                <span class ="logo">Academy:</span>
            </div>
            <div class="col-md-9">
                <a href="{% url 'get_students' %}"> <button type="button" id="students" class="btn btn-primary">Students</button></a>
                <a href="{% url 'get_lecturers' %}"> <button type="button" id="lecturers" class="btn btn-primary">Lecturers</button></a>
                <a href="{% url 'get_groups' %}"> <button type="button" id="groups" class="btn btn-primary">Groups</button></a>
            </div>
            <div class="col-md contact justify-content-end">
                <a href="{% url 'create_message' %}"><button type="button" id="contact" class="btn btn-primary">Contact Us</button></a>
            </div>
            {% if user.is_authenticated %}
                <div class="col-md contact justify-content-end">
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>
                </div>
            {% endif %}
            {% if not user.is_authenticated %}
                <div class="col-md contact justify-content-end">
                    <a href="{% url 'login' %}" id="login"><button type="button" class="btn btn-primary">Login</button></a>
                </div>
            {% endif %}
        </div>
    {% endcache %}
    <div class = "row currency">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            {% block content %}
                {% include 'exchanger/get_exchange_rates.html' %}
            {% endblock %}
        </div>
    </div>
</body>
</html>