# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Nikolay\Desktop\Python tasks\homework 3\Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored manual files
/history.txt
/venv/
/academy/migrations/__pycache__/
/academy/__pycache__/
/__pycache__/
/.idea/

/LMS/__pycache__/
/logger/__pycache__/
/logger/migrations/__pycache__/
/main.py
/celerybeat-schedule.bak
/celerybeat-schedule.dat
/celerybeat-schedule.dir
/env
/exchanger/__pycache__/
/exchanger/__init__.py
*.png
*.jpg
/academy/templatetags/__pycache__/
/celerybeat-schedule
/academy/tests/__pycache__/
/scroller/__pycache__/
/scroller/migrations/__pycache__/
/academy/tests/__pycache__/__init__.cpython-38.pyc
/academy/tests/__pycache__/test_models.cpython-38.pyc
/academy/tests/__pycache__/test_views.cpython-38.pyc
/scroller/__pycache__/__init__.cpython-38.pyc
/scroller/__pycache__/tests.cpython-38.pyc
/scroller/migrations/__pycache__/__init__.cpython-38.pyc
/exchanger/migrations/__pycache__/0001_initial.cpython-36.pyc
/exchanger/migrations/__pycache__/0002_auto_20210227_1836.cpython-36.pyc
/exchanger/migrations/__pycache__/0003_auto_20210228_2255.cpython-36.pyc
/exchanger/migrations/__pycache__/0004_auto_20210228_2314.cpython-36.pyc
/exchanger/migrations/__pycache__/__init__.cpython-36.pyc
__pycache__/
chromdriver.exe
.env
