<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rates</title>
</head>
<body>
    <table class="table">
        <thread>
            <tr>
                <th></th>
                <th>USD</th>
                <th>EUR</th>
                <th>RUB</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <th>Buy</th>

                <td class={{ 'red' }}>{{ '27.50' }}</td>
                <td class={{ 'green' }}>{{ '33.10' }}</td>
                <td class={{ 'red' }}>{{ '0.36' }}</td>
            </tr>
            <tr>
                <th>Sale</th>
                <td class={{ 'green' }}>{{ '27.90' }}</td>
                <td class={{ 'green' }}>{{ '33.70' }}</td>
                <td class={{ 'red' }}>{{ '0.40' }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>